{% extends 'baselist.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Buscar Horario
{% endblock %}

{% block tlista %} Listado de {% if empleado %} Turnos para empleado {% else %} Turnos {% endif %} {% endblock %}

{% block tExtras %}     
    
{% endblock %}

{% block cmain %} 
    {% for msg in messages %}
    <div class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-{{ msg.tags }}{% endif %} alert-dismissible fade show" role="alert">
        <strong>Hey!</strong> {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!--Filtro cabecera-->
    <div class="col-12 col-md-3 mx-auto">
        <div class="card flex-fill border-0">
            <div class="card-body py-4">
                    {% crispy filtros filtros.helper %}
                    {{ serialized }}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-9 mx-auto">
        <div class="card flex-fill border-0">
            <div class="card-body py-4 pb-2">
                <div id="calendar"></div>
            </div>
            <div class="modal fade" id="nuevoHorarioModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="formNuevoHorario" method="post" action="{% url 'turnos:crearHorarioParaEmpleado' empleado.pk %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Nuevo Horario</h5>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="servicioSelect">Servicio:</label>
                                    <div class="w-100">
                                        {{ form.servicio }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="fechaInicio">Fecha de inicio:</label>
                                    {{ form.fecha_inicio }}
                                </div>
                                <div class="mb-3">
                                    <label for="fechaFin">Fecha de fin:</label>
                                    {{ form.fecha_fin }}
                                </div>
                            </div>
                            <!-- <div id="error-superposicion" style="color:red; display:none;"></div> -->
                            <div class="modal-footer">
                                <button id="submit-btn" type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
              
            <!-- Modal para ver detalles -->
            <div class="modal fade" id="detalleHorarioModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Detalle del Horario</h5>
                        </div>
                        <div class="modal-body">
                            <p><strong>Servicio:</strong> <span id="detalleServicio"></span></p>
                            <p><strong>Inicio:</strong> <span id="detalleInicio"></span></p>
                            <p><strong>Fin:</strong> <span id="detalleFin"></span></p>

                            <!-- Checkbox de asistencia -->
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="checkboxAsistencia">
                                <label class="form-check-label" for="checkboxAsistencia">
                                    Asistencia
                                </label>
                            </div>
                        </div>

                        <!-- Botón para guardar asistencia -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="btnEliminarHorario">Eliminar horario</button>
                            <button type="button" class="btn btn-primary" id="btnGuardarAsistencia">Guardar asistencia</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extrajs %}

<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- jQuery y Select2 JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />

<script>
    let idTurnoSeleccionado = null;

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date(); 

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: today,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
            },
            navLinks: true,
            selectable: true,
            selectMirror: true,
            editable: true,
            dayMaxEvents: true,
            events: {{ events|safe }},

            dateClick: function(info) {
                const hoySinHora = new Date();
                hoySinHora.setHours(0, 0, 0, 0);
            
                const partes = info.dateStr.split('-'); // '2025-05-27'
                const fechaLocal = new Date(partes[0], partes[1] - 1, partes[2]); // Año, Mes (0-indexado), Día
                fechaLocal.setHours(0, 0, 0, 0);
            
                if (fechaLocal < hoySinHora) {
                    alert("No se pueden crear horarios en fechas anteriores a hoy.");
                    return;
                }
            
                const ahora = new Date();
                const hoy = ahora.toISOString().slice(0, 16);
            
                document.getElementById('fechaInicio').min = hoy;
                document.getElementById('fechaFin').min = hoy;
            
                const fechaSeleccionada = new Date(
                    partes[0], partes[1] - 1, partes[2],
                    ahora.getHours(), ahora.getMinutes()
                ).toISOString().slice(0, 16);
            
                document.getElementById('fechaInicio').value = fechaSeleccionada;
                document.getElementById('fechaFin').value = fechaSeleccionada;
            
                new bootstrap.Modal(document.getElementById('nuevoHorarioModal')).show();
            },            

            eventClick: function(info) {
                const evento = info.event;

                idTurnoSeleccionado = evento.id;

                document.getElementById("detalleServicio").textContent = evento.title;

                const opciones = {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit'
                };

                const fechaInicio = evento.start ? new Date(evento.start).toLocaleString('es-AR', opciones) : 'N/A';
                const fechaFin = evento.end ? new Date(evento.end).toLocaleString('es-AR', opciones) : 'N/A';
                const asistencia = evento.extendedProps.asistencia;

                document.getElementById("detalleInicio").textContent = fechaInicio;
                document.getElementById("detalleFin").textContent = fechaFin;

                document.getElementById("checkboxAsistencia").checked = !!asistencia;

                new bootstrap.Modal(document.getElementById('detalleHorarioModal')).show();
            }
        });

        calendar.render();

        let EMPLEADO_ID = {{ empleado.id }};
        console.log("Empleado Id:", EMPLEADO_ID);

        $('#nuevoHorarioModal').on('shown.bs.modal', function () {
            $('#servicioSelect').select2({
                width: '100%',
                theme: 'bootstrap-5',
                language: {
                    inputTooShort: function(args) {
                        return 'Escribí al menos 1 carácter para buscar un Servicio'; // 💬 tu mensaje personalizado
                    }
                },
                placeholder: 'Buscar servicio...',
                ajax: {
                    url: "{% url 'turnos:ajax_servicios' %}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            term: params.term,  // término de búsqueda
                            empleado_id: EMPLEADO_ID  
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1,
                dropdownParent: $('#nuevoHorarioModal') // 💡 importante para que el dropdown se muestre dentro del modal
            });
        });

        const servicioSelect = document.getElementById("servicioSelect");
        const fechaInicioInput = document.getElementById("fechaInicio");
        const fechaFinInput = document.getElementById("fechaFin");
        const fechaHoy = new Date().toISOString().slice(0,16);

        console.log("Select de Servicio:", servicioSelect);

        $('#servicioSelect').on('select2:select', function (e) {
            const servicioId = e.params.data.id;

            console.log("Servicio Id:", servicioId);

            if (!servicioId) {
                // Limpia restricciones si no hay selección
                fechaInicioInput.removeAttribute("min");
                fechaInicioInput.removeAttribute("max");
                fechaFinInput.removeAttribute("min");
                fechaFinInput.removeAttribute("max");
                return;
            }

            // Hace la petición para obtener fechas del servicio seleccionado
            fetch(`/turnos/servicios/${servicioId}/fechas/`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error("Error:", data.error);
                        return;
                    }

                    const desde = data.desde;
                    const hasta = data.hasta;

                    console.log("desde:", desde);
                    console.log("hasta:", hasta);

                    if (desde.split("T")[0] === hasta.split("T")[0]) {
                        // Servicio de un solo día
                        const dia = desde.split("T")[0];
                        fechaInicioInput.min = `${dia}T00:00`;
                        fechaInicioInput.max = `${dia}T23:59`;
                        fechaFinInput.min = `${dia}T00:00`;
                        fechaFinInput.max = `${dia}T23:59`;
                    } else if(desde < fechaHoy){
                        fechaInicioInput.min = fechaHoy;
                        fechaInicioInput.max = hasta;
                        fechaFinInput.min = fechaHoy;
                        fechaFinInput.max = hasta;
                        if(hasta < fechaHoy){
                            fechaInicioInput.max = fechaHoy;
                            fechaFinInput.max = fechaHoy;
                        }
                    } else {
                        fechaInicioInput.min = desde;
                        fechaInicioInput.max = hasta;
                        fechaFinInput.min = desde;
                        fechaFinInput.max = hasta;
                    }
                })
                .catch(error => {
                    console.error("Error en la petición:", error);
                });
        });

        // Guardar asistencia al presionar el botón
        document.getElementById("btnGuardarAsistencia").addEventListener("click", function () {
            const asistencia = document.getElementById("checkboxAsistencia").checked;

            fetch(`/turnos/api/turnos/${idTurnoSeleccionado}/asistencia/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ asistencia: asistencia })
            })
            .then(res => res.json())
            .then(data => {
                alert("Asistencia actualizada correctamente.");
                if (data.asistencia !== undefined) {
                    document.getElementById("checkboxAsistencia").checked = data.asistencia;
                }
                const event = calendar.getEventById(idTurnoSeleccionado);
                if (event) {
                    event.setExtendedProp('asistencia', data.asistencia);
                }
                bootstrap.Modal.getInstance(document.getElementById('detalleHorarioModal')).hide();
                calendar.refetchEvents();  
            })
            .catch(error => {
                console.error(error);
                alert("Error al guardar la asistencia.");
            });
        });

        // Eliminar horario ------------------------------------
        document.getElementById("btnEliminarHorario").addEventListener("click", () => {
            if (!confirm("¿Estás seguro de que deseas eliminar este horario?")) {
                return;
            }

            fetch(`/turnos/api/turnos/${idTurnoSeleccionado}/`, {
                method: "DELETE",                           // o "POST"
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"), // necesario si usas POST
                },
            })
            .then(r => r.json())
            .then(data => {
                if (data.success) {
                    // 1 – quitarlo del calendario en memoria
                    const ev = calendar.getEventById(idTurnoSeleccionado);
                    if (ev) ev.remove();

                    // 2 – cerrar modal
                    bootstrap.Modal
                            .getInstance(
                                document.getElementById("detalleHorarioModal")
                            ).hide();

                    alert("Horario eliminado correctamente.");
                } else {
                    throw new Error(data.error || "Error desconocido");
                }
            })
            .catch(err => {
                console.error(err);
                alert("No se pudo eliminar el horario.");
            });
        });

        // obtengo el CSRF token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>


{% endblock %}