{% extends "basemodal.html" %}
{% load crispy_forms_tags %}

<!--Titulo del modal-->
{% block tmodal %} Edicion Turno {% endblock %}

<!--Objeto del titulo del modal-->
{% block tobjectmodal %}  {% endblock %}

<!--Url del modal-->
{% block url %} {% url 'turnos:modificarHorarioParaEmpleado' object.pk %} {% endblock %}

{% block cmodal %}
    {% crispy form form.helper %}
    {% comment %} <div data-formset="periodo" id="periodos" class="table-responsive">
      {% crispy periodo_formset periodo_formset_helper %}
    </div> {% endcomment %}
{% endblock %}

<!--Boton del modal-->
{% block btnmodal %} Guardar {% endblock %} 
