{% extends "baselist.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Buscar Empleados
{% endblock %}

{% block tmain %}
<h4 class="mx-3">{{ titulo }}</h4>
{% endblock %}

    {% block tlista %} Listado de Empleados {% endblock %}

    {% block thextras %}
        <th colspan="">Opciones</th>
    {% endblock%}
    
    {% block tcuerpo %}
        {% for e in empleado %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{e.apellido}}</td>
                <td>{{e.nombre}}</td>
                <td>{{e.correo}}</td>
                <td>{{e.cuil}}</td>
                <td>{{e.categoria}}</td>
            
                <td>
                    <!--Si queremos abrir un moda, se utiliza abrir-->

                    <a href="#" class="bi bi-pencil-square" onclick="abrir_modal('{% url "modificarEmpleado" e.pk %}')"></a>
                    <a href="#"><i class="bi bi-trash3 icon-danger" onclick="abrir_modal('{% url "eliminarEmpleado" e.pk %}')"></i></a>
                    
                </td>

            </tr>
            {% empty %}
                <tr> <td> No hay empleados registrados </td> </tr>
    {% endfor %}
{% endblock %}