{% extends "../base.html" %}
{% load static %}

{% block tmain %}
<h4 class="mx-3">{{ titulo }}</h4>
{% endblock %}

{% block cmain %}

    {% if clientes %}
    <div class="col-12 mx-auto">
        <div class="card flex-fill border-0">
            <div class="card-body py-4">


                <div class="d-flex">
                    <div class="d-grid gap-1">
                        <h4>Listado de Empleados</h4>

                    </div>
                </div>


                <div class="d-flex align-items-start">
                    <div class="flex-grow-1 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-primary">
                                    <th>#</th>
                                    <th>Legajo</th>
                                    <th>Apellido</th>
                                    <th>Nombre</th>
                                    <th>Cuil</th>
                                    <th>Correo</th>
                                    
                                    <th colspan="">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in Empleados %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{c.legajo}}</td>
                                    <td>{{c.apellido}}</td>
                                    <td>{{c.nombre}}</td>
                                    <td>{{c.cuil}}</td>
                                    <td>{{c.correo}}</td>
                                   
                                    <td>
                                       <button onclick="abrir_modal_edicion('{% url "modificarEmpleado" c.legajo%}')" class="btn mx-2 mb-2 btn-sm btn-primary">Modificar</button>
                                        <a href="/infoEmpleado/{{c.legajo}}" class="btn mx-2 mb-2 btn-sm btn-primary">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="modal fate" id="modificar" role="dialog">

    </div>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#modificar').load(url, function(){
            $(this).modal('show');
        });
    }
</script>
{% endblock %}