{% extends "../base.html" %}
{% load static %}

{% block volver %}
<a class="" href="../empleado"><i class="bi bi-arrow-left"></i></a>
{% endblock %}

{% block tmain %}
<h4 class="mx-3">Información de {{empleado.apellido}} {{empleado.nombre}}</h4>
{% endblock %}

{% block cmain %}

<div class="col-12 col-md-4">
    <div class="card flex-fill border-0">
        <div class="card-body py-4">
            <h4>Modificar Empleado</h4>
            <div class="card">
                <div class="card-body">
                    <form action="/infoEmpleado/" method="POST"> {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="numLegajo">Legajo</label>
                            <input type="number" id="numLegajo" name="numLegajo" class="form-control"
                                placeholder="Legajo" maxlength="30" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="txtApellido">Apellido</label>
                            <input type="text" id="txtApellido" name="txtApellido" class="form-control"
                                placeholder="Apellido" maxlength="45" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="txtNombre">Nombre</label>
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                                maxlength="45" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="txtCuil">Cuil</label>
                            <input type="text" id="txtCuil" name="txtCuil" class="form-control"
                                placeholder="Cuil" maxlength="30" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="emailCorreo">Correo</label>
                            <input type="email" id="emailCorreo" name="emailCorreo" class="form-control"
                                placeholder="Correo" maxlength="45" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block text-white">Modificar</button>
                            <button type="submit" class="btn btn-danger btn-block text-white">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}