{% extends "../baselist.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block tmain %}
<h4 class="mx-3">{{ titulo }}</h4>
{% endblock %}


    {% if clientes %}

    {% block filtros %}

    {% crispy filtros filtros.helper %}

    {% endblock %}

    {% block lista %}


                <div class="d-flex">
                    <div class="d-grid gap-1">
                        <h4>Listado de Clientes</h4>

                    </div>
                </div>


                <div class="d-flex align-items-start">
                    <div class="flex-grow-1 table-responsive">
                        <table class="table table-striped  {% if filtros %} sortable{% endif %}">
                            <thead>
                                <tr class="table-primary">
                                    <th>#</th>
                                    {% for sortable in filtros.sortables %}
                                        <th class="sortable bg-transition pointer" scope="col" data-s-field={{sortable.0}}>{{sortable.1}}</th>
                                    {% endfor %}
                                    <th colspan="">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in clientes %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{c.cuil_cuit}}</td>
                                    <td>{{c.apellido}}</td>
                                    <td>{{c.nombre}}</td>
                                    <td>{{c.correo}}</td>
                                    {% if c.habitual %}
                                        <td>Si</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}
                                    {% if c.gubernamental %}
                                        <td>Si</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}


                                    <td>
                                        <button onclick="abrir_modal_edicion('{% url "modificarCliente" c.cuil_cuit %}')" class="btn mx-2 mb-2 btn-sm btn-primary">Modificar</button>
                                        <a href="/infoCliente/{{c.cuil_cuit}}" class="btn mx-2 mb-2 btn-sm btn-primary">Eliminar</a>
                                        <a href="/infoCliente/{{c.cuil_cuit}}" class="btn mx-2 mb-2 btn-sm btn-primary">Inmuebles</a>
                                        <a href="/infoCliente/{{c.cuil_cuit}}" class="btn mx-2 mb-2 btn-sm btn-primary">Facturas</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td> No hay clientes cargados. </td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>



    </div>



    {% endblock %}
    {% endif %}

    {% block modal %}

        <div class="modal" id="modal" role="dialog">
            
        </div>

    {% endblock %}

{% block extrajs %}
<!--Modal-->
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#modal').load(url, function(){
            $(this).modal('show');
        });
    }
</script>
{% endblock %}