{% extends "../baselist.html" %}
{% load crispy_forms_tags %}
{% load static %}



    {% block tlista %} Listado de Clientes {% endblock %}

    {% block thextras %}
        <th colspan="">Opciones</th>
    {% endblock%}
    
    {% block tcuerpo %}
        {% for c in clientes %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{c.cuil_cuit}}</td>
                <td>{{c.apellido}}</td>
                <td>{{c.nombre}}</td>
                <td>{{c.correo}}</td>
                {% if c.habitual %}
                <td>Si</td>
                {% else %}
                <td>No</td>
                {% endif %}
                {% if c.gubernamental %}
                <td>Si</td>
                {% else %}
                <td>No</td>
                {% endif %}


                <td>
                    <!--Si queremos abrir un moda, se utiliza abrir-->

                    <a href="#" class="bi bi-pencil-square" onclick="abrir_modal('{% url "modificarCliente" c.cuil_cuit %}')"></a>
                    <a href="#"><i class="bi bi-trash3 icon-danger" onclick=""></i></a>
                    <a href="{% url "inmueblesCliente" c.cuil_cuit %}" class="bi bi-building-fill text-success"></a>
                </td>

            </tr>
            {% empty %}
                <tr> <td> No hay clientes registrados </td> </tr>
    {% endfor %}
{% endblock %}