{% extends "../baselist.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Buscar Inmuebles
{% endblock %}

{% block tmain %}
<h4 class="mx-3">{{ titulo }}</h4>
{% endblock %}


    {% block tlista %} Listado de Inmuebles {% endblock %}

    {% block tExtras %} 
            <a href="#" class="bi bi-plus-circle-fill text-success fs-5"></a>
    {% endblock %}

    {% block thextras %}
        <th colspan="">Opciones</th>
    {% endblock%}
    
    {% block tcuerpo %}
        {% for i in inmuebles %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.domicilio}}</td>
            <td>{{i.metrosCuadrados}}</td>
            <td>{{i.nroAmbientes}}</td>
            <td>{{i.tipo}}</td>
            <td>
                <a href="#" onclick="abrir_modal('{% url "modificarInmuebleCliente" i.pk %}')" class="bi bi-pencil-square"></a>
                {% comment %} <a href="/infoCliente/{{c.cuil_cuit}}" class="btn mx-2 mb-2 btn-sm btn-primary">Eliminar</a>{% endcomment %}
            </td>
        </tr>
        {% empty %}
            <tr><td> {{i.cliente}} no tiene inmuebles registrados. </td></tr>
        {% endfor %}
{% endblock %}

