{% extends "../base.html" %}
{% load static %}

{% block body %}

<div class="container-fluid login">
    <!-- Contenido de tu página -->
<!--XD-->
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="col-auto px-5 pb-5 pt-3"
            style="background-color: rgba(255, 255, 255, 0.7); border: 1px solid #ccc; border-radius: 10px;">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/senda.png' %}" alt="Senda" class="img-fluid mx-auto d-block">
                </div>

            </div>


            {% if messages %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="txtUsuario">Usuario</label>
                    <input type="text" id="txtUsuario" name="username" class="form-control" placeholder="Usuario"
                        maxlength="30" required>
                </div>
                <div class="form-group mb-3">
                    <label for="passContraseña">Contraseña</label>
                    <input type="password" id="passContraseña" name="password" class="form-control"
                        placeholder="Contraseña" maxlength="45" required>

                </div> 
                <button type="submit" class="btn btn-success w-100 mt-2" value="Ingresar">Ingresar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}