{% extends "../base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid login">
    <!-- Contenido de tu página -->
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="col-4 px-5 pb-5 pt-3"
            style="background-color: rgba(255, 255, 255, 0.7); border: 1px solid #ccc; border-radius: 10px;">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/senda.png' %}" alt="Senda" class="img-fluid mx-auto d-block">
                </div>

            </div>

            {% if messages %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-success w-100 mt-2" value="Ingresar">Ingresar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}