{% extends "../baselist.html" %}

{% block tmain %}
<h4 class="mx-3">{{ titulo }}</h4>
{% endblock %}

{% block tlista %} Listado de Productos {% endblock %}

{% block thextras %}
<th colspan="">Opciones</th>
{% endblock%}

{% block tcuerpo %}
    {% for p in productos %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{p.codigo}}</td>
        <td>{{p.descripcion}}</td>
        <td>{{p.stock}}</td>
        <td>{{p.precioUnitario}}</td>
        <td class="list-options">
            <a href="#"><i class="bi bi-pencil-square" onclick="abrir_modal('{% url "modificarProducto" p.pk %}')"></i></a>
            <a href="#"><i class="bi bi-trash3 icon-danger" onclick="abrir_modal('{% url "modificarProducto" p.pk %}')"></i></a>
            <!--button onclick="abrir_modal('{% url "modificarProducto" p.pk %}')" class="btn mx-2 mb-2 btn-sm btn-primary">Modificar</button-->
        </td>
    </tr>
    {% empty %}
    <tr><td> No hay productos registrados. </td></tr>
    {% endfor %}
{% endblock %}

