{% extends "../baselist.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block tmain %}
<h4 class="mx-3">{{ titulo }}</h4>
{% endblock %}

{% block tlista %} Listado de Inmuebles {% endblock %}

{% block tExtras %} 
    
    {% if cliente %}
        <a href="{% url 'crearInmuebleParaCliente' cliente.pk %}" class="bi bi-plus-circle-fill text-success fs-5"></a>
    {% else %}
        <a href="{% url 'crearInmueble' %}" class="bi bi-plus-circle-fill text-success fs-5"></a>
    {% endif %}
{% endblock %}

{% block thextras %}
    <th colspan="">Opciones</th>
{% endblock%}
   
{% block tcuerpo %}
    {% for i in inmuebles %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.domicilio}}</td>
            <td>{{i.metrosCuadrados}}</td>
            <td>{{i.nroAmbientes}}</td>
            <td>{{i.tipo}}</td>
            <td>{{i.cliente}}</td>
            <td>
            <a href="#" class="bi bi-pencil-square" onclick="abrir_modal('{% url "modificarInmueble" i.pk %}')"></a>
            <a href="#"><i class="bi bi-trash3 icon-danger" onclick=""></i></a>
            </td>
        </tr>
        {% empty %}
        <tr><td> No hay inmuebles registrados. </td></tr>
    {% endfor %}

    {% comment %}<div class="modal" id="modificar" role="dialog">
    </div>{% endcomment %}
    
{% endblock %}

{% comment %} {% block extrajs %}
<!--Modal-->
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#modificar').load(url, function(){
            $(this).modal('show');
        });
    }
</script> 
{% endblock %}{% endcomment %}