{% load crispy_forms_tags %}

<div class="modal-dialog"  role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="mx-3">Edicion Inmueble: {{ object }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'modificarInmueble' object.domicilio %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{ form | crispy }}
            </div>
              <div class="modal-footer">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn {{btnColor}}">{{boton}}</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div> 
    </div>
  </div>