{% extends '../baselist.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Facturas
{% endblock %}

    {% block thextras %}
        <th colspan="">Pagar</th>
    {% endblock%}
    
    {% block tcuerpo %}
    {% for f in facturas %}
    <tr>
        <td>{{f.emision}}</td>
        <td>{{f.pagado}}</td>

    </tr>
    {% empty %}
        <tr> <td> No hay turnos registrados </td> </tr>
    {% endfor %}
{% endblock %}


{% block custom_actions %}
    <div class="d-flex justify-content-end">
        <a href="{% url 'servicios:pagarServicio' facturas.0.servicio.pk %}" class="btn btn-success">Pagar</a>
    </div>
{% endblock %}

{% block extrajs %}
<!--Modal-->
<script type="text/javascript">
var $ = jQuery.noConflict();
function abrir_modal(url){
    $('#modal').load(url, function(){
        $(this).modal('show');
        bindFormSet($('#modal'));
    });
}
</script>
{% endblock %}