{% extends '../baselist.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Facturas
{% endblock %}

    {% block thextras %}
        <th colspan="">Estado</th>
        <th>Opciones</th>
    {% endblock%}
    
    {% block tcuerpo %}
    {% for f in facturas %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{f.emision}}</td>
        <td>{{f.total}}</td>

        {% if f.pagado %}
            <td>Pagada</td>
        {% else %}
            <td>Impaga</td>
        {% endif %}
        <td>
            <a onclick="descargarPDF('{% url 'facturas:detalle_factura' f.pk %}')" class="bi bi-filetype-pdf fs-6"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Factura">
         </a>
         
        </td>
        

    </tr>
    {% empty %}
        <tr> <td> No hay turnos registrados </td> </tr>
    {% endfor %}
{% endblock %}


{% block custom_actions %}
    {% if servicio.estado_actual.tipo == "contratado" or servicio.estado_actual.tipo == "iniciado" %}
    <div class="d-flex justify-content-end">
        <a href="{% url 'servicios:pagarServicio' servicio.pk %}" class="btn btn-success">Pagar</a>
    </div>
    {% endif %}
{% endblock %}

{% block extrajs %}
<!--Modal-->
<script type="text/javascript">
var $ = jQuery.noConflict();
function abrir_modal(url){
    $('#modal').load(url, function(){
        $(this).modal('show');
        bindFormSet($('#modal'));
    });
}

</script>

 <!-- Modal Script -->
 <script>
    async function descargarPDF(url) {
        try {
            const response = await fetch(url);
            const htmlContent = await response.text();

            // Crea un elemento div para contener el contenido HTML
            const container = document.createElement('div');
            container.innerHTML = htmlContent;

            // Configura las opciones para la conversión
            const opciones = {
                margin: 10,
                filename: 'factura.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };

            // Convierte el contenido a PDF y descárgalo
            html2pdf(container, opciones);
        } catch (error) {
            console.error('Error al descargar el PDF:', error);
        }
    }
</script>

{% endblock %}