{% load static %}



<div class="logo">
    <img src="{% static 'img/senda.png' %}" alt="" width="100px" class="img-fluid rounded mx-auto d-block">
</div>
<div class="menu">
    {% block menu %}
    <h2 class="title text-light">Menu</h2>
    <!-- Contenido específico del menú para esta página -->
    <a href="#" class="nav-link link-light d-block p-3"> <i class="icon ion-md-basketball"></i> Tablero </a>
    <a href="#" class="nav-link link-light d-block p-3"> <i class="icon ion-md-person"></i> Cliente </a>
    <a href="#" class="nav-link link-light d-block p-3"> <i class="icon ion-md-cog"></i> Cliente </a>
    {% endblock %}
</div>