{% extends "base.html" %} 

{% load static %}
 
    {% block tmain %} 
    {% endblock %} 

    {% block cmain %}

        <div class="col-9 mx-auto">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">

                    {% block lista %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>

        <div class="col-3 mx-auto">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">

                    {% block filtros %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>

        {% block modal %}

        {% endblock %}

{% endblock %}

{% block extrajs %}
{% endblock %}