<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}

    {% endblock %}
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

  <link rel="icon" href='{% static "img/senda.ico" %}'>

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap" rel="stylesheet">



</head>

<body>
  {% block body %}
  <div class="container-fluid text-center">
    <!-- Aside -->
    <div class="row align-items-start">
      <div class="col-2 bg-success vh-100 p-0 text-start">
        <a href="/../" class="sidebar-brand pt-2 pb-2">

          <img src="{% static 'img/senda.png' %}" alt="" width="100px" class="img-fluid rounded mx-auto d-block">

        </a>

        {% block aside %}
        <!--Menu Aside-->
        <ul class="sidebar-nav">
          <li class="sidebar-header">Clientes</li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link"><i class="icon ion-md-person"></i>Crear Cliente</a>
            <a href="#" class="sidebar-link"><i class="icon ion-md-person"></i>Listar Clientes</a>
          </li>
          <li class="sidebar-header">Servicio</li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link"><i class="icon ion-md-person"></i>Crear Cliente</a>
            <a href="#" class="sidebar-link"><i class="icon ion-md-person"></i>Listar Clientes</a>
          </li>
        </ul>

        {% endblock %}


      </div>
      <!-- Nav y Body -->
      <div class="col-10 p-0">



        <nav class="navbar navbar-expand-lg bg-body-tertiary borde-nav">

          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <!--Boton Hamburguesa-->
              <button class="btn btn-danger p-2 m-2"></button>
              {% block nav %}
              <!--Menu Nav-->
              {% endblock %}
            </div>
          </div>
        </nav>


        {% block section %}



        {% endblock %}

      </div>
    </div>
    {% endblock %}
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/gestionCliente.js' %}"></script>
</body>

</html>