{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load static %}
 
    {% block tmain %} 
    {% endblock %} 

    {% block cmain %}

        {% for msg in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            
        {% endfor %}

        <div class="col-12 col-md-3 mx-auto">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">

                    {% block filtros %}
                        {% crispy filtros filtros.helper %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9 mx-auto">
            <div class="card flex-fill border-0">
                <div class="card-body py-4 pb-2">

                    {% block lista %}
                    {% endblock %}
                    
                    <!--Paginacion-->
                    <div class="d-flex justify-content-between align-items-center pt-2">

                        <p>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>

                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-link">
                                <a href="?page=1{% if request.GET.orden %}&orden={{ request.GET.orden }}{% endif %}">&laquo; primera</a>
                            </li>
                            <li class="page-link">
                                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.orden %}&orden={{ request.GET.orden }}{% endif %}">anterior</a>
                            </li>                            
                            {% endif %}

                            {% if page_obj.has_next %}
                            <li class="page-link">
                                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.orden %}&orden={{ request.GET.orden }}{% endif %}">siguiente</a>
                            </li>
                            <li class="page-link">
                                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.orden %}&orden={{ request.GET.orden }}{% endif %}">ultima &raquo;</a>
                            </li>
                            
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% block modal %}

        <div class="modal" id="modal" role="dialog">
            
        </div>
    
    {% endblock %}

    {% endblock %}



{% block extrajs %}
<!--Modal-->
<script type="text/javascript">
var $ = jQuery.noConflict();
function abrir_modal(url){
    $('#modal').load(url, function(){
        $(this).modal('show');
    });
}
</script>
{% endblock %}