{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load static %}

{% block tmain %} 
{% endblock %} 

{% block cmain %}

    {% for msg in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hey!</strong> {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        
    {% endfor %}


        <div class="col-12 col-md-7 mx-auto">
            <div class="card flex-fill border-0">
                <div class="card-body py-4">
                    
                    <h4>{% block tform %} {% endblock %}</h4>
                    <div class="card">
                        <div class="card-body">
        
                            <form action="{% block url %}{% endblock %}" method="POST">

                                {% csrf_token %} {{ form | crispy }}
        
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary btn-block text-white">{% block tboton %} {% endblock %}</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}


{% block extrajs %}
{% endblock %}
 