<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}

    {% endblock %}
  </title>

  <!--Boostrap, Iconos Boostrap-->
  <link rel="stylesheet" href="{% static 'third-party/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'third-party/css/bootstrap-icons.css' %}">
  <!--Hoja de estilos-->
  <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
  <!--Icono-->
  <link rel="icon" href='{% static "img/senda.ico" %}'>


</head>

<body>
  {% block body %}

  {%block aside %}
  <!--MENU-->
  <div class="wrapper">
    <aside id="sidebar">
      <!--Contenido del sidebar-->
      <div class="h-100">
        <div class="sidebar-logo p-0 m-0">
          <a href="{% url 'home' %}">

            <div class="d-flex justify-content-center align-items-center" style="width: 264px; height: 64.4px;">
              <img src="{% static 'img/senda.png' %}" class="p-0">


          </a>
        </div>
        <!--Menu sidebar-->
        <ul class="sidebar-nav">
          <li class="sidebar-header"></li>

          <!-- Home -->
          <li class="sidebar-item">
            <a href="{% url 'home' %}" class="sidebar-link">
              <i class="bi bi-house-fill"></i> Home
            </a>
          </li>

          {% if perms.core %}

          <!-- Servicios -->
          <li class="sidebar-item">
            <span class="sidebar-header"><i class="bi bi-file-medical-fill"></i> Servicios</span>
            <ul class="sidebar-dropdown list-unstyled">
              <li class="sidebar-item">
                <a href="{% url 'servicios:crearServicio' %}" class="sidebar-link mx-3">
                  <i class="bi bi-plus"></i> Crear Servicio
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'servicios:listarServicio' %}" class="sidebar-link mx-3">
                  <i class="bi bi-list-ul"></i> Listar Servicios
                </a>
              </li>
            </ul>
          </li>

          <!-- Clientes -->
          <li class="sidebar-item">
            <span class="sidebar-header"><i class="bi bi-person-lines-fill"></i> Clientes</span>
            <ul class="sidebar-dropdown list-unstyled">
              <li class="sidebar-item">
                <a href="{% url 'crearCliente' %}" class="sidebar-link mx-3">
                  <i class="bi bi-plus"></i> Crear
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'listarCliente' %}" class="sidebar-link mx-3">
                  <i class="bi bi-list-ul"></i> Buscar
                </a>
              </li>
            </ul>
          </li>

          <!-- Inmuebles -->
          <li class="sidebar-item">
            <span class="sidebar-header"><i class="bi bi-building-fill"></i> Inmuebles</span>
            <ul class="sidebar-dropdown list-unstyled">
              <li class="sidebar-item">
                <a href="{% url 'crearInmueble' %}" class="sidebar-link mx-3">
                  <i class="bi bi-plus"></i> Crear
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'listarInmuebles' %}" class="sidebar-link mx-3">
                  <i class="bi bi-list-ul"></i> Buscar
                </a>
              </li>
            </ul>
          </li>

          <!-- Empleados -->
          <li class="sidebar-item">
            <span class="sidebar-header"><i class="bi bi-person-bounding-box"></i> Empleados</span>
            <ul class="sidebar-dropdown list-unstyled">
              <li class="sidebar-item">
                <a href="{% url 'crearEmpleado' %}" class="sidebar-link mx-3">
                  <i class="bi bi-plus"></i> Crear
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'listarEmpleado' %}" class="sidebar-link mx-3">
                  <i class="bi bi-list-ul"></i> Buscar
                </a>
              </li>
            </ul>
          </li>

          <!-- Productos -->
          <li class="sidebar-item">
            <span class="sidebar-header"><i class="bi bi-box-seam"></i> Productos</span>
            <ul class="sidebar-dropdown list-unstyled">
              <li class="sidebar-item">
                <a href="{% url 'crearProducto' %}" class="sidebar-link mx-3">
                  <i class="bi bi-plus"></i> Crear
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'listarProductos' %}" class="sidebar-link mx-3">
                  <i class="bi bi-list-ul"></i> Buscar
                </a>
              </li>
            </ul>
          </li>

          <!-- Tipo Servicio -->
          <li class="sidebar-item">
            <span class="sidebar-header"><i class="bi bi-file-earmark-text-fill"></i> Tipo Servicio</span>
            <ul class="sidebar-dropdown list-unstyled">
              <li class="sidebar-item">
                <a href="{% url 'servicios:crearTipoServicio' %}" class="sidebar-link mx-3">
                  <i class="bi bi-plus"></i> Crear
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'servicios:listarTipoServicio' %}" class="sidebar-link mx-3">
                  <i class="bi bi-list-ul"></i> Buscar
                </a>
              </li>
            </ul>
          </li>

          <!-- Categorías -->
          <li class="sidebar-item">
            <span class="sidebar-header"><i class="bi bi-clipboard2-fill"></i> Categorías</span>
            <ul class="sidebar-dropdown list-unstyled">
              <li class="sidebar-item">
                <a href="{% url 'crearCategoria' %}" class="sidebar-link mx-3">
                  <i class="bi bi-plus"></i> Crear
                </a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'listarCategoria' %}" class="sidebar-link mx-3">
                  <i class="bi bi-list-ul"></i> Buscar
                </a>
              </li>
            </ul>
          </li>



          {% endif %}

        </ul>
      </div>
    </aside>
    {% endblock %}

    {% block nav %}
    <div class="main">
      <!--Contenido del nav-->
      <nav class="navbar navbar-expand px-3 border-bottom bg-light">

        <button class="btn" id="sidebar-toggle" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>

        {% block tnav %}
        <div class="container-fluid">
          <h4 class="mt-2">{{ tnav }}</h4>
        </div>
        {% endblock %}

        <div class="d-flex align-items-center ms-auto gap-3">
          <form class="d-flex align-items-center" method="get" action="{% url 'buscar' %}">
            <input class="form-control me-2" type="search" name="q" placeholder="Buscar..." aria-label="Buscar">
            <button type="submit"
            class="btn d-flex align-items-center justify-content-center"
            style="width: 42px; height: 42px; border-radius: 50%; background: none; border: none;"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Filtrar">
      <i class="bi bi-search fs-5 text-primary"></i>
    </button>
    
          </form>
          

          <div class="dropdown">
            <a href="#" data-bs-toggle="dropdown" class="nav-icon d-flex align-items-center">
              <i class="bi bi-person-circle fs-2 text-success"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="{% url 'perfil' %}" class="dropdown-item">Información</a>
              {% block salir %}
              <a href="{% url 'salir' %}" class="dropdown-item">Salir</a>
              {% endblock salir %}
            </div>
          </div>
          
        </div>
      </nav>
      {% endblock %}

      <!--Contenido del main-->
      <main class="content px-3 py-2">
        <div class="container-fluid">
          <div class="d-flex pt-2 pb-2">

            {% block tmain %}
            {% endblock %}

          </div>
          <div class="row">

            {% block cmain %}

            {% endblock %}

          </div>
        </div>
      </main>

    </div>

  </div>
  {% endblock %}

  <!-- CSS de Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- JS de Select2 -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <script src="{% static 'third-party/js/jquery.min.js' %}"></script>

  <script src="{% static 'third-party/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'js/custom-inlines.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/tablas.js' %}"></script>

  <script src="{% static 'js/aside.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/modal_form_validation.js' %}"></script>


  {% block extrajs %}
  {% endblock %}
</body>

</html>