{% extends "base.html" %}

{% block title %} Listado de clientes {% endblock %}

{% block body %}

<div class="body">
    LISTA DE CLIENTES
    <br>
    {% for cliente in clientes %}
    CLIENTE
    <a href="{% url 'clientes:detail' cliente.cuil_cuit %}"> {{cliente.apellido_y_nombre}}</a>
    <a href="{% url 'clientes:update' cliente.cuil_cuit %}"> Update</a>
    <a href="{% url 'clientes:delete' cliente.cuil_cuit %}"> Delete</a>
    <br>
    {% endfor %}


    <br>
    <a href="{% url 'clientes:create' %}"> Create</a>
</div>

{% endblock %}