{% extends '../baselist.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Buscar Periodo
{% endblock %}

    {% block tlista %} Listado de {% if empleado %} Periodos del Empleado {% else %} Periodos {% endif %} {% endblock %}

    {% block tExtras %}     
    {% endblock %}

    {% block thextras %}
        <th colspan="">Servicios</th>
        <th colspan="">Dia de la Semana</th>
    {% endblock%}
    
    {% block tcuerpo %}
    {% for p in periodo %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{p.empleado}}</td>
        <td>{{p.fechaDesde}}</td>
        <td>{{p.fechaHasta}}</td>
        <td>{{p.horario.servicio}}</td>
        <td>{{p.horario.diaSemana}}</td>

    </tr>
    {% empty %}
        <tr> <td> No hay turnos registrados </td> </tr>
    {% endfor %}
{% endblock %}


