{% extends 'basemodal.html' %}


{% load crispy_forms_tags %}

<!-- Titulo del modal -->
{% block tmodal %}
  Edicion Tipo servicio:
{% endblock %}

<!-- Objeto del titulo del modal -->
{% block tobjectmodal %}
  {{ object }}
{% endblock %}

<!-- Url del modal -->
{% block url %}
  {% url 'servicios:modificarTipoServicio' object.pk %}
{% endblock %}

<!--Boton del modal-->
{% block btnmodal %} Guardar {% endblock %} 

{% block cform %}
<form action="{% url 'servicios:modificarTipoServicio' object.pk %}" method="POST">
  {% csrf_token %}
  <div id="tipo-servicio-form-wrapper">
    {% crispy form form.helper %}
  </div>
  <div data-formset="productos_cantidad" id="productos">
    {% crispy tipoServicio_producto_formset tipoServicio_producto_formset_helper %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
  </div>
</form>
{% endblock %}



{% block extrajs %}
<script type="text/javascript">

  
  // Capturamos el evento click del botón submit del modal
  $("button[type=submit]").on("click", (e) => {
    e.preventDefault();

    // Seteamos la url a la view de validación del form que está dentro del modal
    const url = "{% url 'servicios:validarTipoServicioFormAjax' object.pk %}";

    // Obtenemos los datos cargados en el form para enviarlos a validar
    const form = document.querySelector(".modal form");
    const form_data = new FormData(form);
    
    // Configuramos los selectores para reemplazar el contenido html sin/con los errores
    // junto a sus respectivas "claves" dentro del objeto response que viene de la view de validación
    const config = {
      '#tipo-servicio-form-wrapper' : 'form_html',
      '#productos': 'productos_html'
    }
    
    // Invocamos a la función que maneja la validación.
    handle_modal_validation(url, form_data, config);
  });
    
    
  </script>
  
{% endblock %}








