{% extends '../baseform.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Crear Tipo de Servicio
{% endblock %}


<!-- Titulo del formulario -->
{% block tform %}
  Registrar Tipo Servicio
{% endblock %}

<!-- Url del formulario -->

{% block cform %}

  <form action="{% url 'servicios:crearTipoServicio' %}" method="POST">
    {% csrf_token %}   
    {% crispy form form.helper %}
    <div data-formset="productos_cantidad" id="productos" >
      {% crispy tipoServicio_producto_formset tipoServicio_producto_formset_helper %}
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-block text-white">
        Guardar
      </button>
    </div>
  </form>
  
{% endblock %}

<!-- Boton del formulario -->
{% block btnform %}
  Guardar
{% endblock %}
