

{% extends "../baselist.html" %}
{% load crispy_forms_tags %}
{% load static %}



    {% block tlista %} Listado de Tipos de servicio {% endblock %}

    {% block thextras %}
        <th colspan="">Opciones</th>
        <th colspan="">Informacion</th>
    {% endblock%}
    
    {% block tcuerpo %}
    {% for t in tiposServicio %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{t.codigo}}</td>
        <td>{{t.descripcion}}</td>
        <td>{{t.costo}}</td>
        <td>{{t.unidadDeMedida}}</td>




        <td>
            <a href="#" onclick="abrir_modal('{% url "servicios:modificarTipoServicio" pk=t.pk %}')" class="bi bi-pencil-square text-primary"> </a>


        </td>
        <td>
            <a href="/Productos/{{t.codigo}}" class="btn btn-link"><i class="bi bi-journal"></i></a>
           
        </td>
    </tr>
    {% empty %}
    <tr> <td> No hay tipos de servicio registrados </td> </tr>
    {% endfor %}
    
{% endblock %}



{% block extrajs %}
<!--Modal-->
<script type="text/javascript">
var $ = jQuery.noConflict();
function abrir_modal(url){
    $('#modal').load(url, function(){
        $(this).modal('show');
        bindFormSet($('#modal'));
    });
}
</script>
{% endblock %}