{% extends 'basemodal.html' %}


{% load crispy_forms_tags %}

<!-- Titulo del modal -->
{% block tmodal %}
  Contratar servicio:
{% endblock %}

<!-- Objeto del titulo del modal -->
{% block tobjectmodal %}
  {{ object }}
{% endblock %}

<label for="chec" class="form-check-label mb-3">Servicio Eventual</label>
<input name="chec" class="form-check-input" type="checkbox" id="chec" onchange="comprobar();"/>

{% block cform %}
<form action="{% url 'servicios:contratarServicio' object.pk %}" method="POST">
  {% csrf_token %}
  <div id="servicio-form-wrapper">
    {% crispy form form.helper %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" onclick="">Contratar</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
  </div>
</form>
{% endblock %}

<!-- Boton del modal -->
{% block btnmodal %}
  Guardar
{% endblock %}



{% block extrajs %}

<script>
  $(document).ready(function () {
      $("#contratarBtn").click(function () {
          // Realizar una solicitud POST al endpoint de Django
          $.ajax({
              url: '/ruta/a/contratar/',  // Reemplaza con tu URL real
              method: 'POST',
              data: {csrfmiddlewaretoken: '{{ csrf_token }}'},  // Asegúrate de incluir el token CSRF
              success: function (data) {
                  // Manejar la respuesta del servidor si es necesario
                  console.log('Contratación exitosa');
              },
              error: function (error) {
                  // Manejar errores
                  console.error('Error al intentar contratar:', error);
              }
          });
      });
  });
</script>



{% endblock %}