

{% extends "../baselist.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Buscar Servicio
{% endblock %}

    {% block tlista %} Listado de Servicios {% endblock %}

    {% block tExtras %} 
    
        {% if cliente %}
            <a href="{% url 'servicios:crearServicioParaCliente' cliente.pk %}" class="bi bi-plus-circle-fill text-success fs-5"></a>
            {% else %}
            <div class="d-inline-flex align-items-center gap-2">
                <a href="{% url 'servicios:crearServicio' %}"
                   class="bi bi-plus-circle-fill text-success fs-5"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Crear Servicio"></a>
            
                <a href="{% url 'servicios:exportar_excel' %}"
                   class="bi bi-file-earmark-excel-fill text-success fs-5"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Exportar Excel"></a>
            </div>
            {% endif %}
            
    {% endblock %}
    {% block thextras %}
        <th colspan="">Opciones</th>
    {% endblock%}
    
    {% block tcuerpo %}
    {% for s in servicio %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{s.estado_actual}}</td>
        <td>{{s.desde}}</td>
        <td>{{s.hasta}}</td>
        <td>{{s.cantidadEstimadaEmpleados}}</td>
        <td>{{s.total}}</td>



        <td>
            {% if s.estado_actual.tipo == "presupuestado" %}
            <!-- Botón para contratar presupuesto -->
            <a 
                href="{% url 'servicios:contratar_presupuesto' pk=s.pk %}" 
                class="bi bi-bag-check-fill text-success fs-5" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Contratar presupuesto">
            </a>
        
            <!-- Botón para descargar PDF -->
            <a 
                href="{% url 'servicios:presupuesto_pdf' presupuesto_id=s.pk %}" 
                class="bi bi-file-earmark-pdf-fill text-danger fs-5" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Descargar PDF de Presupuesto" 
                target="_blank">
            </a>

        
        

    
        {% elif s.estado_actual.tipo == "contratado" %}

            <a 
            href="{% url 'facturas:listarFacturasDeServicio' pk=s.pk %}" 
            class="bi bi-cash-stack  text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Facturas">
            </a>

            <a 
            href="{% url 'turnos:listarHorariosDeServicio' pk=s.pk %}" 
            class="bi bi-calendar-date text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Añadir horarios">
            </a>

            <a href="#" 
            onclick="abrir_modal('{% url "servicios:cancelarServicio" pk=s.pk %}')" 
            class="bi bi-x-octagon text-danger fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Cancelar Servicio">
            </a>

            {% elif s.estado_actual.tipo == "iniciado" %}

            <a 
            href="{% url 'facturas:listarFacturasDeServicio' pk=s.pk %}" 
            class="bi bi-cash-stack  text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Facturas">
            </a>

            <a 
            href="{% url 'turnos:listarHorariosDeServicio' pk=s.pk %}" 
            class="bi bi-calendar-date text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Añadir horarios">
            </a>

            <a href="#" 
            onclick="abrir_modal('{% url "servicios:cancelarServicio" pk=s.pk %}')" 
            class="bi bi-x-octagon text-danger fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Cancelar Servicio">
            </a>

            {% elif s.estado_actual.tipo == "pagado" %}

            <a 
            href="{% url 'facturas:listarFacturasDeServicio' pk=s.pk %}" 
            class="bi bi-cash-stack  text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Facturas">
            </a>

            <a 
            href="{% url 'turnos:listarHorariosDeServicio' pk=s.pk %}" 
            class="bi bi-calendar-date text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Añadir horarios">
            </a>

            {% elif s.estado_actual.tipo == "cancelado" %}

            <a 
            href="{% url 'facturas:listarFacturasDeServicio' pk=s.pk %}" 
            class="bi bi-cash-stack  text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Facturas">
            </a>

            <a 
            href="{% url 'turnos:listarHorariosDeServicio' pk=s.pk %}" 
            class="bi bi-calendar-date text-info fs-5" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Añadir horarios">
            </a>


        {% endif %}

    
        


    </tr>

    {% empty %}
    <tr> <td> No hay servicios registrados </td> </tr>
    {% endfor %}

    
{% endblock %}


{% block extrajs %}
<!--Modal-->
<script type="text/javascript">
var $ = jQuery.noConflict();
function abrir_modal(url){
    $('#modal').load(url, function(){
        $(this).modal('show');
        bindFormSet($('#modal'));
    });
}

function cerrar_modal() {
    $('#modal').modal('hide');
}
</script>
{% endblock %}


