.login-page {
    background-image: url('/static/source/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);

    /* Asegura que los elementos internos se posicionen correctamente */
}