:root {
    --primary: #111854;
    --light: #ffffff;
    --grey: #efefef;

}

body {
    overflow: hidden;
    font-family: 'Mali', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--grey);
    /* Cambia a tu color gris deseado */
    text-decoration: underline;
    /* Subraya el enlace */
}

#asidebar-container {
    min-height: 100vh;
}

#asidebar-container .logo {
    padding: .875rem 1.25rem;
}

#asidebar-container {
    width: 13rem;
}